.img-overlay-wrap {
    position: relative;
    display: inline-block;
}

.img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
}

.svg-box {
    fill: #0efff737;
    stroke: black;
    stroke-width: 1;
}

.svg-box:hover {
    fill: #0efff78c;
    stroke-width: 2;
}
