<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/favicon.png" width="24" height="24" class="me-3" alt="">
    </a>

    <%= content_for :navbar %>
  </div>
</nav>