<div class="project-layout"
     x-data="{
         document_to_show: <%= @images&.first&.id %>
     }"
>
  <div id="show-aside">
    <%= render partial: 'projects/show/aside', locals: { project: @project, images: @images } %>
  </div>

  <div id="show-main">
    <%= render partial: 'projects/show/main', locals: { project: @project, images: @images } %>
  </div>
</div>