<div class="project-layout">
  <div id="show-aside">
    <%= render partial: 'projects/show/aside', locals: { images: @images } %>
  </div>

  <div id="show-main">
    <%= render partial: 'projects/show/main', locals: { project: @project, image: @image } %>
  </div>
</div>