<% content_for :navbar do %>
  <%= link_to @project.name, project_path(@project), class: "navbar-brand me-auto" %>
<% end %>
<%= render partial: "shared/navbar" %>

<div id="ocr-processing-progress-container">
  <%= render partial: "projects/upload_progress/ocr_processing_progress",
             locals: {
               project: @project,
               progress: @progress,
               image_count: @image_count,
               processed_image_count: @processed_image_count,
             } %>
</div>