<li class="page-item">
  <%= link_to_unless current_page.first?,
                     content_tag(:i, "", class: 'bi bi-chevron-left'),
                     url, rel: 'prev', remote: remote, class: 'page-link' %>
</li>
