<div class="row">
  <div class="col mb-2">
    <%= text_area_tag(
          'full_text',
          image.full_text,
          class: 'form-control',
          rows: 10,
          readonly: 'readonly'
        ) %>
  </div>
</div>

<div class="d-flex mb-5">
  <!--  <div class="me-3">-->
  <!--    <div class="dropdown"-->
  <!--         data-bs-toggle="tooltip"-->
  <!--         data-bs-title="⚠️NOT IMPLEMENTED">-->
  <!--      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">-->
  <!--        <i class="bi bi-soundwave"></i> Create audio-->
  <!--      </button>-->
  <!--      <ul class="dropdown-menu">-->
  <!--        <li><a class="dropdown-item" href="#">English</a></li>-->
  <!--        <li><a class="dropdown-item" href="#">German</a></li>-->
  <!--        <li><a class="dropdown-item" href="#">Hungarian</a></li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->

  <div>
    <button class="btn btn-dark" type="button"
            x-on:click="copyToClipboard"
            id="clipboard-000">
      <i class="bi bi-clipboard"></i> Copy to clipboard
    </button>
    <div class="d-none" id="clipboard-000-text"><%= image.full_text %></div>
  </div>
</div>