<div class="row">
  <div class="col mb-2">
    <%= text_area_tag(
          'full_text',
          image.full_text,
          class: 'form-control',
          rows: 10,
          readonly: 'readonly'
        ) %>
  </div>
</div>

<div class="d-flex mb-5">
  <div class="me-3">
    <div class="dropdown"
         data-bs-toggle="tooltip"
         data-bs-title="IMPLEMENT ME">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <i class="bi bi-soundwave"></i> Create audio
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">German</a></li>
        <li><a class="dropdown-item" href="#">Hungarian</a></li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn btn-dark" type="button"
            data-bs-toggle="tooltip"
            data-bs-title="IMPLEMENT ME">
      <i class="bi bi-clipboard"></i>  Copy to clipboard
    </button>
  </div>
</div>