<div x-show="image_upload_form_open" x-transition>
  <%= form_with model: project, class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.file_field :images, multiple: true, class: 'form-control' %>
      <button class="btn btn-primary text-nowrap" type="submit">
        <i class="bi bi-plus-square-fill"></i> Add pages
      </button>
    </div>
  <% end %>
</div>